#!/usr/bin/env python
# -*- coding: UTF-8 -*-

'''
    临时的配置文件
'''

QQ = 
SKEY = ''
LDW = 
BKN = 

MYSQL_HOST = 'localhost'
MYSQL_PORT = 3306
MYSQL_USER = 'root'
MYSQL_PASSWORD = ''
MYSQL_DB = 'qq_finder'

TASK_FILE = './task/task.dat'